<div class="col-2 list_movie">
  <%= link_to "#" do %>
  <div class="card card-block">
    <%= image_tag movie.image_url, class: "card-img-top" %>
    <div class="card-body">
      <h5 class="card-title text-dark"><b><%= movie.title %></b></h5>
      <p class="card-text text-secondary"><%= movie.release_date %></p>
    </div>
  </div>
  <% end %>
</div>
