<div class="row w-75" id="social">
  <div class="col-1 icon-movie"  >
    <%= fa_icon "list" %>
  </div>
  <div class="col-1 icon-movie"  >
    <%= fa_icon "bookmark" %>
  </div>
  <div class="col-1 icon-movie" id="favoriate-movie" >
    <%= render partial: "favoriate_movies/favoriate", movie: @movie %>
  </div>
  <div class="col-1 icon-movie"  >
    <%= fa_icon "star" %>
  </div>
</div>
