$white: #fff;
$color_header: #032541;
$color_dropdown: #34495e;
$color_hover: #01b4e4;
$color_footer: #012844;
$color_button: #0fc4c7;
$white-yellow: #eef7ce;
$text-search: #7b7d7d;
$black: black;
$search-color: #025376;
$red: red;
$result-color: #01B4E4;
$result-count: #EBEBEB;
$pink: #E75389;
$heart: #CF3131;
$star-color:#EEC407;
$border-score: #21D07A;
