<br>
<div class="container" id="search-container">
  <div class="row">
    <div class="col-3">
      <div class="result">
        <h5 class="align-bottom">
          <%= t ".bookmark_list" %>
          <span id="count-favoriate"><%= @bookmark_movies.count %></span>
        </h3>
      </div>
    </div>

    <!--content-->
    <div class="col-9">
      <%= render partial: "bookmark_movies/movie", collection: @bookmark_movies, as: :movie %>
    </div>
  </div>
</div>
