<% if movie.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <%= t ".error_contains" %>
      <%= pluralize movie.errors.size, t(".error") %>.
    </div>
    <ul>
      <% movie.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
